
/* stylings will be applied to all elements */
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing:  border-box;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #eff1d9 !important;
}

/* stylings for header */
.topBar{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-left: 50px;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    
}
h1 > span{
    color: rgb(32, 121, 255);
}
.coverImage{
    border-radius: 10px;
}

/* stylings for navigation */
.navBar{
    display: flex;
    flex-direction:row;
    gap: 80px;

}

header{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 10px;
 
}

.navItem{
  list-style-type: none;
    
}
.navItem a{
    font-weight: 500;
    text-decoration:  none;
    
}
.navItem a:hover{
    color: blue;
    text-decoration:  none;
    
}

summary{
    height: 70px;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(6, 0, 121) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 20px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    
}


.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    margin-top: 10px;
    border: 2px solid rgb(6, 0, 121);
    border-radius: 8px ;
}

/* stylings for forms */
form{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-self: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

form label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

form .error{
    color: red;
}

 .inputFields   {
    height: 40px;
    width: 50%;
    border-radius: 5px;
    border: 2px solid rgb(156, 156, 156);
    padding-left: 10px;
}

.radioContainer{
        font-size:14px ;
}



/* stylings for feedback secion */
.wrapper{
    display: flex;
  /* justify-content: space-around; */
  gap: 300px;
    align-items: center;
    padding-left: 100px;
    padding: 50px;
    border-radius: 8px;
    margin-top: 10px;
    border: 2px solid rgb(6, 0, 121);
}

.wrapper form{
    gap: 30px;
}
.feedbackInput{
    border-radius: 50px;
}
.wrapper form{
   
    width: 100%;
}
.wrapper form input{
    width: 100%;
}


.feedbackForm{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* general styings for buttons  and textareas */
.textarea{
    border-radius: 10px;
    padding: 10px;
    border-color: rgb(156, 156, 156) ;
}

.buttons{
 width: 167px;
 align-self: flex-end;
 height: 40px;
 color: #fff;
 background-color: #007bff;
 border-color: #007bff;
 border-radius: 8px;
 border: none;
 font-weight: bold;
cursor: pointer;

}
.buttons:hover{
    box-shadow: 2px 1px 3px 0px rgb(216, 216, 216);
     
}
 
/* Stylings for price sections */

#prices{
    margin-bottom: 50px;
}
.pricesContainer{
    width: 25%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 50px;
}
.priceCard{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(6, 0, 121);
    padding: 20px 50px;
    border-radius: 10px;
    gap: 30px;
    justify-content: center;
}
.priceCard button:hover{
    box-shadow: 1px 1px 5px 0px black;
}

.priceCard button{
 background: transparent;
 color: rgb(6, 0, 121);
 font-weight: 600;
 padding: 10px;
 border-radius: 4px;
 cursor: pointer;

}

.priceCardTitle{
    font-size: 20px;
}

.pricelist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgb(163, 163, 163);
}

.circle{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 50%;
    padding: 30px;
    gap: 5px;
    font-size: 14px;
    align-items: flex-end;

}

.planContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}
.planContainer p{
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
    font-family: serif;
}

.planContainer .planOptions{
    list-style: none;
    padding:0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.planOptions .option{
    color: white;
    background: blue;
    border-radius: 4px;
    padding: 15px 20px ;
    transition: box-shadow 0.5 ease;
    cursor: pointer;
}

.planOptions .option:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 600;
    
}

.pricesSection{
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
    padding: 50px;
    margin-top: 10px;
    border: 2px solid rgb(6, 0, 121);
    border-radius: 8px ;
}

#employeeForm label{
    display: none;
}

#vehicleForm label{
    display: none;
}

.displayBlock{
    display: flex !important;
}
.displayNone{
    display: none;
}

input[type='password']{
    outline: none;
    /* border: none; */
}

.showButton{
    display: block;
    align-self: center;
}

.billContainer{
    width: 30%;
    border: 2px solid blue;
    border-radius: 8px;
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.currencyType{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.amount{
 margin-top: 33%;
 align-self: center;
 font-size: 20px;
 display: flex;
}
.amount .value{
    font-weight: bold;
}

.billBtn{
    width: 100px;
   position: absolute;
   bottom: 30px;
   right: 30px;
}

